{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title_tag}}{% endblock %}
{% block content %}

	<h1>{{post.title}} </h1>
	<hr>
	{% if post.header_image %}
		<img src="{{post.header_image.url}}" width="200px" height="200px">
	{% endif %}
	<p>{{post.body|safe}}</p>
	<small>Posted at: {{post.post_date}} By: {{post.author.first_name}} {{post.author.last_name}}</small>
	</br></br>
	<a href="{% url 'home' %}" class='btn btn-secondary'>Back</a>
	
	{% if user.is_authenticated %}
		{% if user.id == post.author.id %}


			<a href="{% url 'update_post' post.id %}" class='btn btn-secondary'>Update</a>
			<a href="{% url 'delete_post' post.id %}" class='btn btn-danger'>Delete</a>
		

		{% endif %}
	{% endif %}

	</br></br>
	<form action="{% url 'like_post' post.pk %}" method='POST'>
		{% csrf_token %}

	{% if user.is_authenticated %}
		{% if liked %}
			<button type=submit name='post_id' value='{{post.id}}' class='btn btn-danger'>Unlike</button> - {{total_likes}} Likes
		{% else %}
			<button type=submit name='post_id' value='{{post.id}}' class='btn btn-primary'>Like</button> - {{total_likes}} Likes
		{% endif %}
	{% else %}
		
		<a class="nav-link" href="{% url 'login' %}">Login to like</a>
	    
	{% endif %}
	</form>

</br></br>
{% if post.author.profile %}
	<div class="card" style="width: 18rem;">
	{% if post.author.profile.profile_pic%}
	  <img class="card-img-top" src="{{post.author.profile.profile_pic.url}}" width="180px" height="286px" >
	{% else %}
	  <img class="card-img-top" src="{% static 'theblog/images/everson.jpg' %}" width="180px" height="286px" >

	{%endif%}
	  <div class="card-body">
	  	<a href="{% url 'profile' post.author.profile.id%}">
	    	<h5 class="card-title">{{post.author.first_name}} {{post.author.last_name}}</h5>
		</a>
	    <p class="small text-muted">
	    	{% if post.author.profile.website_url%}
	    	<a href="{{post.author.profile.website_url}}">Website</a> | 
	    	{%endif%}
	    	{% if post.author.profile.facebook_url%}
	    	<a href="{{post.author.profile.facebook_url}}">Facebook</a> | 
	    	{%endif%}
	    	{% if post.author.profile.twitter_url%}
	    	<a href="{{post.author.profile.twitter_url}}">Twitter</a> | 
	    	{%endif%}
	    	{% if post.author.profile.instagram_url%}
	    	<a href="{{post.author.profile.instagram_url}}">Instagram</a></p>
	    	{%endif%}
	    <p class="card-text">{{post.author.profile.bio}}</p>
	    <a href="{% url 'profile' post.author.profile.id%}" class="btn btn-primary">Mais sobre o {{post.author.first_name}}</a>
	  </div>
	</div>
{% endif %}


{% endblock %}