{% extends 'base.html' %}
{% block title %}{{cats|capfirst }} Posts{% endblock %}

{% block content %}

{% if category_posts %}

	<h1>{{cats|capfirst }}</h1>


	<ul>
	{% for post in category_posts %}
		<li>
			<a href="{% url 'article-detail' post.id %}">{{post.title}}</a> - {{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}} {% if user.is_authenticated %}<small><a href="{% url 'update_post' post.id %}">(Edit)</a><a href="{% url 'delete_post' post.id %}">(Delete)</a></small>{% endif %}
			<p>{{post.body|slice:":100"|safe}}</p>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>Não tem nenhum post com o assunto {{cats|capfirst}}</p>	

{% endif %}
{% endblock %}